
.app{
    display: grid;
    grid-template-columns: repeat(auto-fill ,300px);
    gap: 30px;
    justify-content: center;
}
.item{
    width: 100%;
    height: 300px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.item img{
    width: 100%;
    height: 60%;
}
.item button {
    background: #540075;
    color: white;
    width: 60%;
    border: 1px solid #540075;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    font: inherit;
    cursor: pointer;
}